<div class="hero bg-gray-800 py-[100px] overflow-hidden">
  <div class="container mx-auto grid md:grid-cols-2 items-center h-full">
    <div class="content text-white text-center md:text-left mb-8 md:mb-0">
      <h1 class="text-5xl font-bold leading-normal uppercase">
        Welcome to Cool Tech Design Blog
      </h1>
      <p class="text-lg my-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
        facere doloremque iure tenetur aperiam sit eum possimus, velit commodi
        sapiente.
      </p>
      <a
        href="#"
        class="px-6 py-3 inline-flex uppercase font-semibold rounded shadow-md bg-indigo-600 hover:bg-indigo-700"
        >Explore Now</a
      >
    </div>
    <div class="hero-image-container w-full relative">
      <div class="hero-img flex justify-center md:justify-end">
        <img
          src="../assets/images/blog-illustration.png"
          class="max-w-[100%] object-cover h-[600px]"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
