<app-page-hero pageName="New Post"></app-page-hero>
<section class="update-post-section my-10 md:my-20">
  <div class="container mx-auto">
    <div
      class="post-form w-full max-w-[800px] rounded-xl shadow-md p-8 mt-10 mx-auto"
    >
      <form>
        <div class="mb-6">
          <label
            for="postTitle"
            aria-label="sr-only"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Title</label
          >
          <input
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="text"
            required
            autofocus
            id="postTitle"
            name="postTitle"
            [(ngModel)]="post.postTitle"
            placeholder="Post Title"
          />
        </div>
        {{ post.postTitle }}
        <div class="mb-6">
          <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            for="file_input"
            >Upload file</label
          >
          <input
            class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 file:bg-gray-800 file:text-white file:p-2 file:mr-3"
            aria-describedby="file_input_help"
            id="file_input"
            name="postImage"
            type="file"
          />
          <p
            class="mt-1 text-sm text-gray-500 dark:text-gray-300"
            id="file_input_help"
          >
            PNG, JPG only allowed
          </p>
        </div>

        <div class="mb-6">
          <h3
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >
            Choose technology:
          </h3>
          <ul class="flex gap-3 flex-wrap">
            <li *ngFor="let category of post.postCategory">
              <input
                type="checkbox"
                id="{{ category.name }}"
                value="{{ category.name }}"
                class="hidden peer"
                required=""
                [(ngModel)]="category.checked"
              />
              <label
                for="{{ category.name }}"
                class="inline-flex justify-center items-center p-2 w-full text-gray-500 bg-white rounded-lg border-2 border-gray-200 cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700"
              >
                <div class="block">
                  <div class="w-full font-semibold px-2">
                    {{ category.name }}
                  </div>
                </div>
              </label>
            </li>
          </ul>
        </div>
        <div class="mb-6">
          <label
            for="readingTime"
            aria-label="sr-only"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Reading Time</label
          >
          <input
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="text"
            required
            autofocus
            id="readingTime"
            name="readingTime"
            [(ngModel)]="post.postReadingTime"
            placeholder="Total Reading Time"
          />
        </div>
        <div class="mb-6">
          <label
            for="description"
            aria-label="sr-only"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Description</label
          >
          <textarea
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 resize-none"
            name="description"
            id="description"
            cols="30"
            rows="10"
            [(ngModel)]="post.postDescription"
            placeholder="Write your post here..."
          ></textarea>
        </div>
        <button
          type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</section>
